---
layout: default.ejs
eleventyComputed: {
	title: "<%- name %> • Fruitboxd"
}
bodyClass: "fruit-page"
---

<%_
fileSlug = arguments[0].page.fileSlug;
thumbnailCredits = fallback(arguments[0], "thumbnailCredits", "");
backdropCredits = fallback(arguments[0], "backdropCredits", "");
sciName = fallback(arguments[0], "sciName", "").replaceAll(" ", "\u00A0");
altNames = fallback(arguments[0], "altNames", []);
reviews = fallback(arguments[0], "reviews", []);
%>
<main>
	<div class="fruit-header" style="background-image:url(backdrop.jpg)"></div>
	<section class="fruit-content">
		<figure class="fruit-image">
			<img alt="<%= name %>" src="thumbnail.jpg">
			<figcaption>
				<%- thumbnailCredits %>
			</figcaption>
		</figure>
		<article>
			<div class="fruit-names">
				<h2><%= name %></h2>
				<span class="scientific-name"><%= sciName %></span>
			</div>
			<section class="fruit-description">
				<%- content %>
			</section>
		</article>
		<dl class="kv-list">
		<%_ if(altNames.length) { %>
			<dt><span>Nomes alternativos</span></dt>
			<dd class="alt-names">
				<%= altNames.join(", ") %>
			</dd>
		<%_ } %>
		<%_ if(backdropCredits) { %>
			<dt><span>Imagem de capa</span></dt>
			<dd class="backdrop-credits">
				<%- backdropCredits %>
			</dd>
		<%_ } %>
		</dl>
		<article class="fruit-reviews">
			<h2>Avaliações recentes</h2>
			<%_
			const rev = collections.all
				.filter(file => file.filePathStem.endsWith(fileSlug))
				.filter(file => !file.filePathStem.startsWith(`/fruit/`))
				.filter(file => "rating" in file.data)
				.reverse();
			if(rev.length) { %>
			<ul>
				<%_ for(let i = 0, L = rev.length; i < L; i++) {
					const review = rev[i]; %>
					<li>
						<%- makeReview(arguments[0], review) %>
					</li><%- (L > 1 && i < L-1 ) ? "<hr>" : "" %>
				<%_ } %>
			</ul>
			<%_ } else { %>
				<p style="margin-top:20px">Sem avaliações ainda!</p>
			<%_ } %>
		</article>
	</section>
</main>